# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# Vite cache
.vite/
.vitest/

# Environment files
.env
.env.*
!.env.example

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.swd
*.swp

# TypeScript
*.tsbuildinfo

# MacOS
.DS_Store

# Linux
*.pid

# Windows
Thumbs.db

# Temp files
*.tmp
*.temp
*.bak
*.orig
*.patch
